<div class="container" *ngIf="allQuestions.length > 0 else noQuestions">
    <div class="row">
        <h1>StackLite</h1>
    </div>
    <a class="btn btn-info" (click)="navigateToPages('create')">Create New Question</a>
    <table id="sl-table" class="table table-hover">
        <thead> <!-- table head-->
            <tr> <!--table row-->
                <th>Id</th>
                <th>Title</th>
                <th>Date Created</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let q of allQuestions" (click)="navigateToPages('detail', q.Id)">
                <td>{{q.Id}}</td>
                <td>{{q.Title}}</td>
                <td>{{q.DateCreated}}</td>
                <td>{{q.Score}}</td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noQuestions>
    <mat-spinner class="center-spinner"></mat-spinner>
</ng-template>